/* Container chứa nhiều alert-box */
.alert-container {
  position: fixed;
  top: 5%;
  right: 0.5rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Tạo khoảng cách giữa các alert */
}

/* Alert box */
.alert-box {
  width: 300px;
  animation: right-side 0.25s ease-in-out;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  box-shadow: 5px 5px 5px var(--primary-shadow);
  border-radius: 1rem;
  padding: 10px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s, transform 0.3s;
}

/* Khi alert hiển thị */
.alert-box.show {
  opacity: 1;
  transform: translateX(0);
}

/* Header của alert */
.alert-header h2 {
  text-align: center;
  padding: 0.5rem;
}

/* Nội dung body */
.alert-body {
  padding: 0.5rem;
}

/* Hiệu ứng xuất hiện */
@keyframes right-side {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
