<main>
  <app-header />
  <app-sidebar />
  <section>
    <!-- Banner và các phần khác -->

    <div class="item dish">
      <div class="container">
        <!-- Nav và các phần khác -->

          <div class="row g-0 menu__item active">
            @if (loading) {
              <div>Đang tải dữ liệu...</div>
            }
            @if (products.length > 0) {
              @for (product of products; track product.id) {
                <div class="col-md-6">
                  <div class="row g-0 dish__item showtotop dl-02">
                    <div class="col-md-12 col-lg-6">
                      <img
                        class="dish__img"
                        [src]="'https://drive.google.com/thumbnail?id=' + getImageId(product.image)"
                        alt="{{ product.name }}"
                      />
                    </div>
                    <div class="col-md-12 col-lg-6 dish__desc">
                      <div class="row g-0">
                        <div class="col-8">
                          <h3 class="dish__name">{{ product.name }}</h3>
                        </div>
                        <div class="col" style="text-align: right;">
                          <span class="dish__price">{{ product.price }} VND</span>
                        </div>
                      </div>
                      <p class="dish__prameter text">{{ product.description }}</p>
                      <button (click)="openOrderModal(product)" class="btn btn-warning mx-3">Đặt hàng</button>
                      <button class="btn btn-primary">Thêm vào giỏ</button>
                    </div>
                  </div>
                </div>
              }
            } @else {
              <div class="text-center py-5">
                <p>Không có sản phẩm nào.</p>
              </div>
            }
        </div>
      </div>
    </div>
  </section>

  <!-- Modal chi tiết sản phẩm -->
  @if (modalVisible && selectedProduct) {
    <app-product-item
      [product]="selectedProduct"
      (closeModal)="closeOrderModal()"
      (placeOrder)="onPlaceOrder($event)"
    />
  }
</main>
@if (toastVisible) {
  <app-toast [heading]="toastHeading" [description]="toastDescription">
  </app-toast>
}
