/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Iso&display=swap");

:root {
  --primary-white: #fff;
  --secondary-white: #f4f4f4;
  --primary-purple: rgba(42, 11, 76, 0.98);
  --secondary-purple: rgb(158, 13, 158);
  --primary-sky: #f3f8fe;
  --secondary-sky: #d0dff2;
  --primary-shadow: rgba(0, 0, 0, 0.3);
  --secondary-shadow: rgba(0, 0, 0, 0.7);
}

main {
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống dòng khi màn hình nhỏ */
  align-items: flex-start;
  gap: 1rem; /* Khoảng cách giữa sidebar và nội dung chính */
}

app-sidebar {
  flex: 0 0 250px; /* Giữ sidebar có chiều rộng cố định */
  max-width: 250px;
}

section {
  flex: 1; /* Phần nội dung chiếm hết không gian còn lại */
  min-width: 300px; /* Đảm bảo nội dung không quá hẹp khi responsive */
}


